In [1]:
from pysentimiento import create_analyzer

"""
Reference: 
 title={pysentimiento: A Python Toolkit for Sentiment Analysis and SocialNLP tasks},
      author={Juan Manuel P√©rez and Juan Carlos Giudici and Franco Luque},
      year={2021},
"""

analyzer = create_analyzer(task="emotion", lang="en", )

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list = []

query='#doordash'

start_date="2022-06-01"

search_term=query+" since:"+start_date

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper(search_term).get_items()):
    tweets_list.append([tweet.content, tweet.lang])
    
    
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Text','Language'])

In [3]:
tweets_df = tweets_df[tweets_df['Language']=='en'] #filter to only tweets with english as the language
test_df = tweets_df.loc[:,['Text']]#select the text column
test_df

                                                   Text
1     $6 for 15 miles I‚Äôm out here trying to make it...
2     TURANOS PIZZA KITCHEN üçï #DOORDASH ORDERS üéí #GO...
3     Let us know if you need a car to rent by the h...
4     Another one of the "special" people\n#doordash...
5     If you‚Äôre ordering #doordash, tip as you would...
...                                                 ...
3546  Arrived to the restaurant and my order is gone...
3547  Gas went up another 16 cents over night. It's ...
3548  At this very moment‚Ä¶.I‚Äôm wondering if 11.00 fo...
3549                     #doordash 8.5  $ super busy???
3550  Can someone please bless me with  #DoorDash or...

[3202 rows x 1 columns]

In [4]:
def get_emotions(t):
    pred = analyzer.predict(t)
    return pred.output

In [5]:
test_df['emotions']=test_df['Text'].apply(get_emotions)
test_df

                                                   Text emotions
1     $6 for 15 miles I‚Äôm out here trying to make it...   others
2     TURANOS PIZZA KITCHEN üçï #DOORDASH ORDERS üéí #GO...   others
3     Let us know if you need a car to rent by the h...   others
4     Another one of the "special" people\n#doordash...  disgust
5     If you‚Äôre ordering #doordash, tip as you would...   others
...                                                 ...      ...
3546  Arrived to the restaurant and my order is gone...   others
3547  Gas went up another 16 cents over night. It's ...   others
3548  At this very moment‚Ä¶.I‚Äôm wondering if 11.00 fo...   others
3549                     #doordash 8.5  $ super busy???   others
3550  Can someone please bless me with  #DoorDash or...  sadness

[3202 rows x 2 columns]

In [6]:
test_df.to_csv('doordash_unlabeled.csv')