In [1]:
#imports
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import warnings
warnings.filterwarnings("ignore")

#read csv
df = pd.read_csv('cleaned_non-vectorized_data.csv')
df = df[~df['Text'].isna()]
df

,Text,tokens,disgust,joy,anger,surprised,sad,fear,neutral
0,come mert ’ today let u take care lunch enjoy ...,"['come', 'mert', '’', 'today', 'let', 'u', 'ta...",0,0,0,0,0,0,1
1,nxt gt lay 20 staff tech 's latest cutback rb_...,"['nxt', 'gt', 'lay', '20', 'staff', 'tech', ""'...",0,0,0,0,0,0,1
2,layoff 20 workforce 100 employee sf bay area,"['layoff', '20', 'workforce', '100', 'employee...",0,0,0,0,0,0,1
3,today ’ lunch special smoked pork sausage onio...,"['today', '’', 'lunch', 'special', 'smoked', '...",0,0,0,0,0,0,1
4,come mert ’ today grab salmon cake two home co...,"['come', 'mert', '’', 'today', 'grab', 'salmon...",0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
9277,traik01 cdc people warmed u 2 year ago .... sa...,"['traik01', 'cdc', 'people', 'warmed', 'u', '2...",0,0,0,0,1,0,0
9278,sorry ’ promo code share lately 😭 promos autom...,"['sorry', '’', 'promo', 'code', 'share', 'late...",0,0,0,0,1,0,0
9279,poor lad,"['poor', 'lad']",0,0,0,0,1,0,0
9280,one day able bill order tmobile bill sadly tod...,"['one', 'day', 'able', 'bill', 'order', 'tmobi...",0,0,0,0,1,0,0
9281,someone please bless dinner 🥹,"['someone', 'please', 'bless', 'dinner', '\U00...",0,0,0,0,1,0,0

In [2]:
from gensim.models import LsiModel
import gensim.corpora as corpora

# Create Dictionary
id2word = corpora.Dictionary(df['Text'].str.split())
# Create Corpus
texts = df['Text'].str.split()
# Term Document Frequency
corpus = [id2word.doc2bow(text) for text in texts]


num_topics = 5

lsi = LsiModel(corpus=corpus, id2word=id2word,num_topics=num_topics)

In [3]:
import re
for topic in lsi.print_topics():
    i = topic[0]#topic number
    s = topic[1] #string of topics
    l=s.split("+") #list of terms
    terms=[]
    for term in l:
        stripped_term = (re.findall('".+"', term)[0].strip()[1:-1])
        terms.append(stripped_term)
    print("The top words in topic", i, "is", terms)

The top words in topic 0 is ['’', 'order', 'get', 'delivery', 'food', 'amp', 'driver', 'u', "'s", 'like']
The top words in topic 1 is ['pattern', 'floral', 'gazania', 'abstract', 'flower', 'orange', 'yellow', 'summer', 'taiche', 'petal']
The top words in topic 2 is ['’', 'order', "'s", 'delivery', 'food', "n't", 'driver', 'u', 'get', '...']
The top words in topic 3 is ['order', 'get', 'delivery', 'food', 'eats', 'delivered', 'driver', '’', 'sanantoniofood', '👉🏼']
The top words in topic 4 is ['get', 'delivery', 'food', 'order', 'eats', 'delivered', 'sanantoniofood', '👉🏼', 'safood', 'satxfood']