In [1]:
# imports
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
import warnings
warnings.filterwarnings("ignore")

#read csv
df = pd.read_csv('cleaned_non-vectorized_data.csv')
df = df[~df['Text'].isna()]
df

,Text,tokens,disgust,joy,anger,surprised,sad,fear,neutral
0,come mert â€™ today let u take care lunch enjoy ...,"['come', 'mert', 'â€™', 'today', 'let', 'u', 'ta...",0,0,0,0,0,0,1
1,nxt gt lay 20 staff tech 's latest cutback rb_...,"['nxt', 'gt', 'lay', '20', 'staff', 'tech', ""'...",0,0,0,0,0,0,1
2,layoff 20 workforce 100 employee sf bay area,"['layoff', '20', 'workforce', '100', 'employee...",0,0,0,0,0,0,1
3,today â€™ lunch special smoked pork sausage onio...,"['today', 'â€™', 'lunch', 'special', 'smoked', '...",0,0,0,0,0,0,1
4,come mert â€™ today grab salmon cake two home co...,"['come', 'mert', 'â€™', 'today', 'grab', 'salmon...",0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
9277,traik01 cdc people warmed u 2 year ago .... sa...,"['traik01', 'cdc', 'people', 'warmed', 'u', '2...",0,0,0,0,1,0,0
9278,sorry â€™ promo code share lately ðŸ˜­ promos autom...,"['sorry', 'â€™', 'promo', 'code', 'share', 'late...",0,0,0,0,1,0,0
9279,poor lad,"['poor', 'lad']",0,0,0,0,1,0,0
9280,one day able bill order tmobile bill sadly tod...,"['one', 'day', 'able', 'bill', 'order', 'tmobi...",0,0,0,0,1,0,0
9281,someone please bless dinner ðŸ¥¹,"['someone', 'please', 'bless', 'dinner', '\U00...",0,0,0,0,1,0,0

In [2]:
import gensim.corpora as corpora

# Create Dictionary
id2word = corpora.Dictionary(df['Text'].str.split())
# Create Corpus
texts = df['Text'].str.split()
# Term Document Frequency
corpus = [id2word.doc2bow(text) for text in texts]

In [3]:
from pprint import pprint
import gensim
# number of topics
num_topics = 5
# Build LDA model
lda_model = gensim.models.LdaMulticore(corpus=corpus,
                                       id2word=id2word,
                                       num_topics=num_topics)
# Print the Keyword in the 10 topics
pprint(lda_model.print_topics())

[(0,
  '0.015*"order" + 0.013*"delivery" + 0.012*"get" + 0.009*"â€™" + 0.009*"u" + '
  '0.006*"n\'t" + 0.006*"\'s" + 0.006*"driver" + 0.005*"food" + 0.005*"day"'),
 (1,
  '0.013*"motus" + 0.013*"\'s" + 0.008*"done" + 0.007*"â€™" + 0.006*"..." + '
  '0.006*"delivery" + 0.006*"cbsclutch" + 0.005*"food" + 0.005*"get" + '
  '0.005*"driver"'),
 (2,
  '0.015*"â€™" + 0.012*"delivery" + 0.010*"food" + 0.008*"driver" + 0.006*"\'s" '
  '+ 0.006*"order" + 0.006*"free" + 0.006*"service" + 0.006*"best" + '
  '0.005*"like"'),
 (3,
  '0.038*"â€™" + 0.020*"order" + 0.010*"get" + 0.009*"food" + 0.009*"delivery" + '
  '0.006*"today" + 0.006*"driver" + 0.005*"time" + 0.005*"u" + 0.005*"amp"'),
 (4,
  '0.012*"order" + 0.012*"n\'t" + 0.008*"food" + 0.008*"â€™" + 0.007*"\'s" + '
  '0.006*"get" + 0.005*"delivery" + 0.005*"amp" + 0.005*"tip" + 0.005*"need"')]

In [4]:
import re
for topic in lda_model.print_topics():
    i = topic[0]#topic number
    s = topic[1] #string of topics
    l=s.split("+") #list of terms
    terms=[]
    for term in l:
        stripped_term = (re.findall('".+"', term)[0].strip()[1:-1])
        terms.append(stripped_term)
    print("The top words in topic", i, "is", terms)

The top words in topic 0 is ['order', 'delivery', 'get', 'â€™', 'u', "n't", "'s", 'driver', 'food', 'day']
The top words in topic 1 is ['motus', "'s", 'done', 'â€™', '...', 'delivery', 'cbsclutch', 'food', 'get', 'driver']
The top words in topic 2 is ['â€™', 'delivery', 'food', 'driver', "'s", 'order', 'free', 'service', 'best', 'like']
The top words in topic 3 is ['â€™', 'order', 'get', 'food', 'delivery', 'today', 'driver', 'time', 'u', 'amp']
The top words in topic 4 is ['order', "n't", 'food', 'â€™', "'s", 'get', 'delivery', 'amp', 'tip', 'need']